.flash {
  margin-top: 20px;
}

.form-actions {
  border-top-style: dashed !important;
  background: transparent !important;
}

.icon_box {
  padding-bottom: 14px !important;
  .icon {
    font-size: 20px;
  }
}

.container_pad {
  margin-top: 20px;
}