@import "compass";

$item_min_height: 60px;

.new_post textarea {
  min-height: 64px;
}

.stream {

  .more {
    display: block;
    margin-top: 10px;
    width: 100%;
    @include box-sizing(border-box);
  }

  .items {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    min-height: 480px;

    .item {
      border-bottom: 1px solid #E9E9E9;
      @include transition(fade-in 0.16s linear);
      padding: 10px;

      .avatar img {
        @include border-radius(3px);
      }

      & > .avatar {
        display: block;
        position: absolute;
        width: 50px;
        height: $item_min_height;
        img {
          max-width: 50px;
          max-height: $item_min_height;
        }
      }

      .post {
        min-height: $item_min_height;
        margin-left: $item_min_height;

        p {
          color:  #333;
          font-size: 13px;
          line-height: 18px;
        }

        .comments {
          form {
            display: none;
          }
          .comment, form {
            background: #EDEFF4;
            padding: 5px;
            margin-bottom: 1px;
            font-size: 11px;
            line-height: 14px;
            min-height: 32px;

            .actions {
              color: gray;
              padding-top: 2px;
            }

            textarea {
              width: 100%;
              @include box-sizing(border-box);
              margin: 0px;
            }

            .author {
              font-weight: bold;
            }

            & > .avatar {
              height: 32px;
              width: 32px;
              position: absolute;
            }

            & > .body {
              margin-left: 37px;
            }
          }
          
        }

        .details {
          color: #AAA;
          font-weight: bold;
          margin-bottom: 5px;
          a {
            cursor: pointer;
            color: #3B5998;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .feedback {
          color: #AAA;
          font-size: 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}