%header.masthead
  %h1 E-Wykładowca
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
%hr.soften
.row
  .span8= image_tag "grab.png"
  .span4
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo molestie augue bibendum bibendum. Praesent enim odio, eleifend a malesuada in, euismod a ipsum. Pellentesque ut lorem nunc, quis dignissim velit. Proin consequat nunc a justo laoreet molestie. Vestibulum eleifend eros et eros tempus pharetra. Nunc orci velit, fringilla non pellentesque sit amet, imperdiet quis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a sem id velit commodo faucibus. Aliquam erat volutpat. Morbi quis ante a ante dapibus ornare ac et odio. Nullam elementum nisi sit amet velit luctus faucibus. Etiam neque erat, vehicula nec feugiat adipiscing, semper at eros.
    %h3 Fusce commodo molestie augue
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo molestie augue bibendum bibendum. Praesent enim odio, eleifend a malesuada in, euismod a ipsum. Pellentesque ut lorem nunc, quis dignissim velit. Proin consequat nunc a justo laoreet molestie. Vestibulum eleifend eros et eros tempus pharetra. Nunc orci velit, fringilla non pellentesque sit amet, imperdiet quis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a sem id velit commodo faucibus. Aliquam erat volutpat. Morbi quis ante a ante dapibus ornare ac et odio. Nullam elementum nisi sit amet velit luctus faucibus. Etiam neque erat, vehicula nec feugiat adipiscing, semper at eros.

.row
  .span4
    %h3 Fusce commodo molestie augue
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo molestie augue bibendum bibendum. Praesent enim odio, eleifend a malesuada in, euismod a ipsum. Pellentesque ut lorem nunc, quis dignissim velit. Proin consequat nunc a justo laoreet molestie. Vestibulum eleifend eros et eros tempus pharetra. Nunc orci velit, fringilla non pellentesque sit amet, imperdiet quis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a sem id velit commodo faucibus. Aliquam erat volutpat. Morbi quis ante a ante dapibus ornare ac et odio. Nullam elementum nisi sit amet velit luctus faucibus. Etiam neque erat, vehicula nec feugiat adipiscing, semper at eros.
  .span4 
    %h3 Sed non felis a felis
    %p In non urna erat. Sed non felis a felis dapibus sagittis et quis felis. Sed quam justo, fermentum ac euismod quis, ultrices eget enim. Donec sed tellus lacus. Nulla ac sapien nec velit eleifend lobortis. Aliquam erat volutpat. Duis in tristique mauris. Nulla eget laoreet arcu. Suspendisse dapibus eleifend dignissim. Donec gravida nisi eu eros faucibus eleifend.
  .span4
    %h3 Curabitur vehicula accumsan egestas
    %p Integer vitae leo nulla, et egestas libero. Curabitur vehicula accumsan egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec semper mauris at libero adipiscing eu tincidunt massa ultrices. Nunc tempus pellentesque nibh. Phasellus adipiscing neque ut arcu gravida sed molestie massa vulputate. In molestie semper tortor ut accumsan. Nam molestie viverra nulla sed tristique. Donec sit amet risus mauris. Cras lorem tortor, placerat tempor vehicula suscipit, fermentum pellentesque felis. Morbi mattis adipiscing velit, sit amet tristique dui suscipit quis. Sed in nibh lacus. Integer aliquet odio nec magna lacinia tincidunt.