.row
  .span3
    = render partial: "profiles/sidebar"
  .span9
    .stream
      .row  
        .span9
          .page-header
            %h3 Nowy post
          #new_post_form= render partial: "posts/form", locals: { post: Post.new }
      .row
        .span9
          .items
            .row
              .span7.offset1
                %br/
                .progress.progress-striped.active
                  .bar{ style: "width: 100%" }
                %p= tt("p.loading", "Wczytywanie wpisów... Proszę czekać...")
          %a.more.btn.btn-large.btn-primary{ href: @lecturer_decorator.timeline_path } Więcej
