= render partial: "profiles/header"

.stream
  .row  
    .span8.offset2#new_post_form= render partial: "posts/form", locals: { post: Post.new }
  .row
    .span8.items.offset2
      :script
        window.streams = #{render_to_string(partial: "timelines/stream", collection: @streams, formats: [:json]).html_safe}


     