%p Witaj #{@resource.email}

%p Ktoś kliknął w link do resetowania hasła dla twojego konta. Jeżeli chcesz je zresetować kliknij link poniżej:

%p= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
